/**
 * Gnosis Blocks - Custom Field Block Editor Styles
 */

.gnosis-preview-toggle {
	display: flex;
	align-items: center;
	gap: 5px;
}

textarea {
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'monospace' !important;
	line-height: 1.5 !important;
	letter-spacing: 0.5px;
}

.wp-block-gnosis-custom-field-block {
	position: relative;
}

.wp-block-gnosis-custom-field-block textarea {
	box-shadow: inset 0 0 0 1 #ddd;
}

.wp-block-gnosis-custom-field-block textarea:focus {
	box-shadow: inset 0 0 0 2px #1f1f1f;
	outline: none;
}
