/**
 * Gnosis Blocks - Custom Field Block Frontend Styles
 */

.wp-block-gnosis-wp-meta-field-block {
	width: 100%;
}

.wp-block-gnosis-wp-meta-field-block iframe {
	display: block;
	max-width: 100%;
}

.wp-block-gnosis-wp-meta-field-block video {
	display: block;
	max-width: 100%;
	height: auto;
}
